
    <div class="row">
        <div class="col-xs-12">
            <h3>Compartilhe</h3>
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col-xs-12">
            <section>
                <h4>O songbook do ukulele</h4>
                <a href="#">Termos de Uso</a>
            </section>

            <section style="font-size: 12px">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />O trabalho <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">O Songbook do Ukulele</span> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons - Atribuição-CompartilhaIgual 4.0 Internacional</a>.
            </section>
            <section style="font-size: 12px">
                Criado com <i class="material-icons">&#xE87D;</i> por <a href="http://github.com/NozesNaBrita">É Nozes na Brita!</a>.
            </section>
        </div>
    </div>
