<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-xs-12">
		<form id="song-search" name="formSongSearch" novalidate>
			<div class="form-group">
				<label for="songSearch">Música</label>
				<input name="songSearch"
					class="form-control" id="songSearch"
				   	focus-me-directive="focus === 'songSearch'"
				   	required>
			</div>
			<ul class="list-group">
				<li class="list-group-item song-item" data-ng-repeat="song in songs" data-ng-click="voteFor(song)">
					<i data-ng-show="!song.voted" class="material-icons text-muted">&#xE87E;</i>
					<i data-ng-show="song.voted" class="material-icons voted">&#xE87D;</i>
					{{song.title}} - {{song.artist}}
				</li>
			</ul>
		</form>
	</div>
</div>
